@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

body{
	margin-left:auto;
	margin-right:auto;
	width:70%;
	height:100%;
	background-color:#26282B;
	font-family:'Nanum Gothic', serif;
	color:white;
	overflow:hidden;
}

#logo{
}

#form #submit{
	color:white;
}