@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

body{
	margin-left:auto;
	margin-right:auto;
	width:60%;
	height:100%;
	background-color:#26282B;
	font-family:'Nanum Gothic', serif;
	color:white;
	overflow:hidden;
}

.logo-fluid{
	padding-top:3%;
	padding-bottom:3%;
	display:flex;
	justify-content:center;
}

.container-fluid{
	padding-top:5%;
	padding-bottom:5%;
}

.btn-block{
	color:#565A61;
	background:linear-gradient(white,#99976B);
	border-style:none;
	border-radius:4px;
	padding-top:2%;
	padding-bottom:2%;
}

.btn-block:hover{
	color:#26282B;
}

#footer{
	padding-top:15%;
	padding-bottom:10%;
	padding-right:5%;
	width:95%;
}

.linktoreservep{
	display:flex;
	justify-content:flex-end;
}

.linktoreservep a{
	color:#787768;
}

.linktoreservep a:visited{
	color:#787768;
}

.linktoreservep a:hover, active{
	color:#54665B;
}

.copyright{
	display:flex;
	justify-content:flex-end;
}